<div class="container">
  <div class="row">
    <div class="col-md-2">
      <fieldset class="form-group">
        <legend>Cliente</legend>
        <span>{{ cliente }}</span>
      </fieldset>
    </div>
    <div class="col">
      <fieldset>
        <legend>Tipo de Pessoa</legend>
        <app-tipo-pessoa [(tipoPessoa)]="pessoa.tipoPessoa"></app-tipo-pessoa>
      </fieldset>
    </div>
    <div class="col">
      Tipo de Cliente<br/>
        <app-tipo-cliente></app-tipo-cliente>
    </div>    
  </div>
  <div class="row">
    <div class="col-2">
      <label>Código do cliente
        <input 
          type="number"
          class="form-control"/>
      </label>  
    </div>
    <div class="col-9">
      <lx-texto 
        [(texto)]="pessoa.nomePessoa"
        label="Nome do Cliente">
      </lx-texto>
    </div>
    <div class="col-1" style="font-size: 40px">
      <lx-modal 
        titulo="Opções" 
        icone="icon-lx-user-down"
        > 
        Teste do ng-content</lx-modal>
    </div>
    <div lxCol tamanho="12"> 
      <lx-progress 
          [valueNow]="porcentagemProgresso"
          [fechaAoConcluir]="true"></lx-progress>
      <button class="btn btn-primary" (click)="adicionarCliente()">Adicionar cliente</button>    
      <table class="table  table-striped table-hover"> 
        <thead>
          <tr>
            <th>Tipo de Pessoa</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auxPessoa of pessoas">
            <td>{{auxPessoa.tipoPessoa}}</td>
            <td>{{auxPessoa.nomePessoa}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <!-- *ngIf mostra ou não o XML {{cliente}}
  <span *ngIf="pessoa.tipoPessoa ==1">{{ cliente }}</span> 
  -->
 
  <!-- <img src="assets/neymar_caido.jpg"/> -->
  <!-- <img [src]="imagem" [hidden]="imagem == null"/>
  <button (click)="levantarNeymar()">Levanta Neymar</button> 
  -->
  <!-- 
  <input type="text"[(ngModel)] = "pessoa.nomePessoa"/>
  <input type="number"[(ngModel)] = "pessoa.tipoPessoa"/> 
-->
===== 
<br/>
{{ pessoa | json}}
